on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: tree-sitter/setup-action/cli@c4c258862a6a7e43a7aef152256bbf659972c408 # v2
        with:
          tree-sitter-ref: v0.25.10
          rust-toolchain: 1.91.1

      - uses: mymindstorm/setup-emsdk@6ab9eb1bda2574c4ddb79809fc9247783eaf9021 # v14
        with:
          version: 3.1.69

      - run: tree-sitter generate
      - name: Create source tarball
        run: |
          git ls-files > files
          find src >> files
          tar cvzf "${{github.event.repository.name}}.tar.gz" -T <(sort -u files)

      - run: tree-sitter build --wasm
      - uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          name: "${{ github.ref_name }}"
          files: |
            ${{github.event.repository.name}}.tar.gz
            ${{github.event.repository.name}}.wasm

          fail_on_unmatched_files: true
          draft: true

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - run: cargo publish --allow-dirty
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
