on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: tree-sitter/setup-action/cli@eeb902ac2f1be576edc296309872cf476a209b7f # v2
        with:
          tree-sitter-ref: v0.25.10
          rust-toolchain: 1.91.1

      - uses: mymindstorm/setup-emsdk@6ab9eb1bda2574c4ddb79809fc9247783eaf9021 # v14
        with:
          version: 3.1.69

      - run: tree-sitter generate
      - name: Create source tarball
        run: |
          git ls-files > files
          find src >> files
          tar cvzf "${{github.event.repository.name}}.tar.gz" -T <(sort -u files)

      - run: tree-sitter build --wasm
      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          name: "${{ github.ref_name }}"
          files: |
            ${{github.event.repository.name}}.tar.gz
            ${{github.event.repository.name}}.wasm

          fail_on_unmatched_files: true
          draft: true

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - run: cargo publish --allow-dirty
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
